body{
				margin:0;
				padding:0;
			}
			#game{
				width:1280px;
				height:720px;
				background:url(images/bg.jpg);
				overflow:hidden;
				position:relative;
				cursor:hand;
				cursor:pointer;
			}
			#game_in{
				width:1280px;
				height:720px;
				background:url(images/bg.jpg);
				position:absolute;
			}
			#before{
				width:100%;
				display:block;
			}
			#before_top,#before_mid,#before_bot{
				width:100%;
				float:left;
			}
			#before_top_in{
				width:15%;
				text-align:center;
				color:#666;
				font-size:15px;
				font-family:sans-serif;
				margin-top:25px;
				padding-top:6px;
				padding-bottom:6px;
				background:white;
				margin-bottom:20px;
				float:right;
			}
			#before_mid_in{
				width:100%;
				text-align:center;
				color:white;
				opacity:.8;
				margin-left:-20px;
			}
			#before_mid_st{
				margin-top:200px;
				padding-top:20px;
			}
			#click_to_start{
				margin-top:10px;
				font-size:17px;
				padding-bottom:20px;
				letter-spacing:1px;
			}
			#before_bot_in{
				float:right;
				color:white;
				position:absolute;
				right:0;
				bottom:0;
				padding:20px;
				line-height:150%;
				font-family:sans-serif;
				font-size:14px;
				opacity:.32;
				letter-spacing:1.2px;
			}
			#highscore{
				font-weight:bold;
				letter-spacing:1px;
				font-size:110%;
			}
			#game_area{
				width:100%;
				height:100%;
				position:relative;
			}
			#bird{
				position:absolute;
				top:200px;
				left:130px;
			}
			#after{
				display:none;
			}
			#gameover{
				width:100%;
				float:left;
				display:none;
			}
			#gameover_in{
				width:100%;
				text-align:center;
				color:white;
			}
			#gameover_top{
				width:100%;
				text-align:center;
				font-size:60px;
				font-family:sans-serif;
				margin-top:260px;
			}
			#gameover_bot{
				width:100%;
				text-align:center;
				font-size:20px;
				font-family:sans-serif;
				margin-top:5px;
			}
			#gameover_bot_bot{
				width:100%;
				margin-top:20px;
			}
			#bird_in{
				width:60px;
				height:60px;
				background:url(images/kuscuk.png);
			}
			.pipe1{
				background:url(images/temel.png);
				position:absolute;
				width:92px;
				right:50;
				top:0;
			}
			.pipe2{
				background:url(images/temel.png);
				position:absolute;
				width:92px;
				right:50;
				bottom:0;
			}
			#pipe1_top{
				position:absolute;
				bottom:0;
				width:120px;
				background:url(images/alt.png);
				height:30px;
				margin-left:-14px;
			}
			#pipe2_top{
				position:absolute;
				top:0;
				width:120px;
				background:url(images/ust.png);
				height:30px;
				margin-left:-14px;
			}
			#scoretab{
				font-size:40px;
				padding:5px;
				color:white;
				font-family:sans-serif;
			}
			img[alt]{
				display:none !important;
			}